*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(29, 29, 29);
    padding: 30px 100px;
}

.navbar .item {
    color: white;
    position: relative;
}

.navbar .item:hover {
    color: green;
    font-weight: bold;
}

.item::after{
    content: '';
    position: absolute;
    bottom: -5px;
    right: -4px;
    width: 0%;
    height: 2px;
    background-color: white;
    transition-property: width;
    transition-duration: 5s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(1,-0.84, 0, 1.32);
    transition: width 1s ease-in-out;
}

.item:hover::after{
    width: 120%;
    left: -4px;
    background-color: red;
};
















/* Transform */
/* scale() -> width va height ni oshirib kamaytirib beradi */
/* rotate() -> aylantirib beradi */
/* skew() -> 3d design qilib beradi, X va Y oqi boyicha beriladi (X, Y) */
/* translate() -> kordinata boyicha surib beradi */

/* Psudeo elementlar */
/* :hover -> sichqonchani ustiga olib borganda */
/* :active -> sichqoncha bosilganda */
/* :focus -> inputlar bilan ishlaydi,  ustiga bir marta bosilganda ishlaydi */
/* ::first-letter -> birinchi harfga stil berish */
/* ::first-line -> birinchi qatorga stil berish */
/* ::selection -> belgilashda rangini o'zgartirib beradi. Highlight qilish */
/* befor, after, content */
/* nth-child() -> bizda bir xil turdagi teglar bo'lsa, va ushalar orasidan aynan birini tanlashda */
/* invalid -> input shartlari qanoatlantirilmasa */

/* filer: opacity() -> rasmlar uchun rang va turli hususiyatlar beradi  */
/* transparent -> parentdan meros oladi. parentni rangi bilan bir xil bo'ladi */
