* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 40px;
}

.small-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 10px solid rgb(0, 213, 255);
    margin-bottom: -7px;
}

.big-circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 15px solid rgb(0, 213, 255);
    border-radius: 50%;
}

.big-circle:hover .minut {
    animation-play-state: paused;
}

.center-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color:rgb(0, 213, 255);
    z-index: 10;
}

.minut {
    width: 180px;
    height: 8px;
    border-radius: 30px;
    background: linear-gradient(to right, white 50%, rgb(0, 213, 255) 50%);
    animation-name: minut;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}



@keyframes minut {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.title {
    font-size: 22px;
    color: rgb(0, 213, 255);
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}






















/* 
.box {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: red;
    animation-name: box;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-delay: 3s;
    

}


.box:hover{
    animation-play-state: paused;
} */

/* @keyframes box {
    from{
        background-color: red;

    }
    to{
        background-color: black;
    }
} */


@keyframes box {
    0% {
        background-color: red;
        top: 0;
        left: 0;
    }
    25%{
        background-color: blue;
        top: 0;
        left: 400px;
    }
    50% {
        background-color: yellow;
        top: 400px;
        left: 400px;
    }
    75% {
        background-color: crimson;
        top: 400px;
        left: 0;
    }
    100% {
        background-color: black;
        top: 0;
        left: 0;
    }
}





/* Animation */
/* animation -> 2 turi -> from, to; timing (100%) */
/* from, to -> faqat boshlanish va oxirgi styllar beriladi */
/* @keyframes -> animatsiyamizdagi styllarni yozish uchun va unga nom beriladi */
/* animation-name -> @keyframes ga berilgan nom yoziladi */
/* animation-duration -> qancha muddat davom etishi */
/* animation-iteration-count -> necha marotaba sodir bo'lishi */
/* infinite -> checksiz davom etish uchun */
/* animation-direction: normal (reverse, alternate, alternate-reverse) */
/* animation-delay -> kechiktirish */
/* animation-timing-function: ease(ease-in, ease-out, ease-in-out, cub-bezier() 
-> qanaqa holatda chiqib tugashini belgilash ->transition niki bilan bir xil */
