*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns:  repeat(10, 1fr);
    grid-template-rows: 200px 300px 100px;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    /* justify-items: center;
    align-items: center; */
    margin: 10px;
}

.item{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}




























/* Flex-box -> one dimensional *

/* Grid-box -> two dimensional */
/* GridContainer */
/* dispay: grid; -> bu gridbox yaratish uchun */
/* grid-template-columns: -> grid ustunlar yaratish uchun */
/* grid-template-rows: -> qator yaratish uchun */
/* grid-gap: -> childlar orasida joy ochib berish uchun */
/* grid-column-gap: -> ustun boyicha */
/* grid-row-gap: -> qator boyicha */
/* justify-items -> x oqi boyicha joylashuv */
/* align-items -> y oqi boyicha joylashuv */
/* grid-template-areas: -> gridboximzini qismlarga ajratib olish  */

/* GridItems */
/* grid-area -> bu childlarni yaratib olgan areamizga qarab joylashtirish,
bunga nom beramiz */

/* Qoshimcha action */
/* repeat() -> takrorlab berish */
/* fr olchov birligi -> taqsimlash uchun, qolib ketgan joyni egallab oladi,
flex-grow bilan bir xil */