*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div{
    width: 0;
    height: 0;
    border-top: 50px solid white;
    border-bottom: 50px solid red;
    border-left: 50px solid white;  
    border-right: 50px solid white;
}

/* Position */
/* static -> boshlang'ich holati */
/* relative -> boxga chegara qoyib olish uchun. */
/* absolute -> windowni ustki qismiga chiqarib olish uchun */
/* sticky -> joyida qotirib berish uchun, va joyini ham saqlab qoladi */
/* fixed -> joyida qotirib beradi, window ni ustiga chiqazib qoyadi */

/* qoshimcha qiymatlari */
/* top, left, right, bottom */
/* tranform: translate(-50%, -50%); -> kordinatasini o'rtaga olib kelish uchun */
/* z-index -> window boyicha ustma ust qoyish yoki chiqarish */


/* CSS selectors */
/* , -> va degan ma'noni bildiradi */
/* div > p ->  divni ichidagi childi p bolganlar uchun */
/* div + p -> div va p qoshilgan elementlardan keyin kelgan 1 chi p 
tagiga design berish */
/* div ~ p -> div+p dan keyin kelgan plarni barchasiga design beradi. */
/* div p{} -> divning ichidagi hamma p lar uchun */
