*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1300px;
    /* height: 800px; */
    background-color: #20243F;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* navbar */

.navbar{
    width: 100%;
    height: 85px;
    background-color: #394166;
}

/* main */
.main{
    width: 100%;
    display: flex;
    gap: 30px;
}

.col{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.col-item{
    background-color: #394166;
}

/* col-item1-1 */
.col-item .title{
    width: 100%;
    height: 50px;
    background-color:rgb(0, 213, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
}

.col-item .item{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    border-bottom: 1px solid #2D3355;
}

.col-item .right{
    border-radius: 50%;
    padding: 5px;
    color: white;
    background-color: #51597E;
}