

input{
    /* border: none; */
    outline: none;
    border-bottom: 1px solid black;
}

.box{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid blue;
    margin-left: 10px;
}




/* margin */
/* 1 ta qiymatda -> hamma joyga tasir qiladi */
/* 2 ta qiymatda -> tepa past va chap o'ng */
/* 4 ta qiymatda -> top right bottom left */
/* tomonga bo'lish orqali */
































/* margin ->  */

/* margin-top: 10px;
margin-left: 30px;
margin-right: 20px;
margin-bottom: 10px; */


/* border -> uchta qiymat oladi -> qalinligi, turi, rangi */
/* border style -> solid, dashed, dotted */

/* border-radius -> borderni burchagini og'dirib beradi */
/* border-top-left-radius: 20px; */
/* border-bottom-right-radius: 20px; */
/* border-top-right-radius: 40px; */
/* border-bottom-left-radius: 40px; */