
.container{
    width: 100px;
    height: 100px;
    border: 3px solid red;

}

.box{
    width: 30px;
    height: 30px;
    border: 2px solid black;

}


.box2{
    width: 30px;
    height: 30px;
    border: 2px solid black;
}

/* margin ->  */

/* margin-top: 10px;
margin-left: 30px;
margin-right: 20px;
margin-bottom: 10px; */


/* border -> uchta qiymat oladi -> qalinligi, turi, rangi */
/* border style -> solid, dashed, dotted */

/* border-radius -> borderni burchagini og'dirib beradi */
/* border-top-left-radius: 20px; */
/* border-bottom-right-radius: 20px; */
/* border-top-right-radius: 40px; */
/* border-bottom-left-radius: 40px; */

