


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 400px;
    height: 400px;
    /* background-color: aquamarine; */
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-circle {
    position: absolute;
    top: 2px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 10px solid rgb(6, 245, 245);
}

.big-circle {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 20px solid rgb(6, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-circle:hover .minut {
    animation-play-state: paused;
}

.big-circle .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:rgb(6, 245, 245);
    z-index: 10;
}

.big-circle .minut {
    width: 200px;
    height: 10px;
    /* background: red; */
    background: linear-gradient(to right, white 50%, rgb(6, 245, 245) 50%);
    border-radius: 40px;
    transition: 2s;
    animation-name: minut;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes minut {
    from{
        transform: rotate(0deg);
    } 
    to {
        transform: rotate(360deg);
    }
}

.container h1 {
    font-size: 22px;
    color:rgb(6, 245, 245);
    margin-top: 20px;
    text-transform: uppercase;
}









/* Transform */
/* scale() -> width va height ni oshirib kamaytirib beradi */
/* rotate() -> aylantirib beradi */
/* skew() -> 3d design qilib beradi, X va Y oqi boyicha beriladi (X, Y) */
/* translate() -> kordinata boyicha surib beradi */

/* Psudeo elementlar */
/* :hover -> sichqonchani ustiga olib borganda */
/* :active -> sichqoncha bosilganda */
/* :focus -> inputlar bilan ishlaydi,  ustiga bir marta bosilganda ishlaydi */
/* ::first-letter -> birinchi harfga stil berish */
/* ::first-line -> birinchi qatorga stil berish */
/* ::selection -> belgilashda rangini o'zgartirib beradi. Highlight qilish */
/* befor, after, content */
/* nth-child() -> bizda bir xil turdagi teglar bo'lsa, va ushalar orasidan aynan birini tanlashda */
/* invalid -> input shartlari qanoatlantirilmasa */

/* filer: opacity() -> rasmlar uchun rang va turli hususiyatlar beradi  */
/* transparent -> parentdan meros oladi. parentni rangi bilan bir xil bo'ladi */
