










*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a{
    color: #3d3d3d;
    text-decoration: none;
    transition: all 0.3s;
    position: relative;
    margin: 100px;
    overflow: hidden;
}

a:hover {
    font-weight: bold;
    color: #46a359;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -5px;
    width: 120%;
    height: 2px;
    background: #46a358;
    transform: scaleX(0);
    transition: transform 1s ease-in-out;
    transform-origin: right;
  }

a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    
}




/* Transform */
/* scale() -> width va height ni oshirib kamaytirib beradi */
/* rotate() -> aylantirib beradi */
/* skew() -> 3d design qilib beradi, X va Y oqi boyicha beriladi (X, Y) */
/* translate() -> kordinata boyicha surib beradi */

/* Psudeo elementlar */
/* :hover -> sichqonchani ustiga olib borganda */
/* :active -> sichqoncha bosilganda */
/* :focus -> inputlar bilan ishlaydi,  ustiga bir marta bosilganda ishlaydi */
/* ::first-letter -> birinchi harfga stil berish */
/* ::first-line -> birinchi qatorga stil berish */
/* ::selection -> belgilashda rangini o'zgartirib beradi. Highlight qilish */
/* befor, after, content */
/* nth-child() -> bizda bir xil turdagi teglar bo'lsa, va ushalar orasidan aynan birini tanlashda */
/* invalid -> input shartlari qanoatlantirilmasa */

/* filer: opacity() -> rasmlar uchun rang va turli hususiyatlar beradi  */
/* transparent -> parentdan meros oladi. parentni rangi bilan bir xil bo'ladi */
