*{
    margin: 0;
    padding: 0;
}

.parent{
    display: flex;

    gap: 20px;
    width: 100%;
    height: 600px;
    background-color: aqua;
}

.child1{
    width: 400px; 
    /* flex-grow: 1; */
    /* align-self: center; */
    flex-shrink: 3;
    height: 200px;
    background-color: crimson;
}

.child2{
    width: 400px; 
    /* flex-grow: 5; */
    /* align-self: flex-end; */
    flex-shrink: 5;
    height: 200px;
    background-color: blue;
}

.child3{
    width: 400px; 
    /* flex-grow: 1; */
    /* align-self: flex-start; */
    height: 200px;
    background-color: green;
}

/* (1920 -200px) /(1+3) */

/* 1920 / (1+2+1) -> 480 */ 
/* 1 -> 480 * 1 */
/* 2 -> 480 * 2 -> 960 */
/* 1 -> 480 * 1 */

/* Flexbox -> Flex-container, Flex-items */

/* Flex-items */

/* flex-basis -> width bilan bir xil vazifa bajaradi */
/* flex-grow -> bosh qolib ketgan joyni teng taqsimlab oladi.px olmaydi */
/* order -> box itemlarni tartiblash uchun */
/* align-self -> y oqi boyicha malumotlarni joylashtirish, center, flex-end, flex-start */
/* flex-shrink -> hajmini kichiraytirib qisqartirib beradi. px olmaydi*/
/* flex: 1 -> flex-grow + flex-shrink */

